.book_section{
    background-color: rgb(205,133,63);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
  }

.book_section > img{
    width: 150px;
    height: 150px;
    margin: auto;    
}

.book_section > .book_information{
    padding: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.book_section > button{
  width: 50%;
  margin: auto;  
}

@media (min-width: 768px) {
  .book_section > button {
    padding: 0 2.6rem;
  }
}